<header class="main-header">
	<div class="container">
		<div class="logo">
			<a  routerLink="home">DEMO APP</a>
		</div>
		<nav class="main-nav">
			<ul class="main-nav-list">
				<li>
					<a routerLink="home" routerLinkActive="active">HOME</a>
				</li>
				<li>
					<a routerLink="user-profile" routerLinkActive="active">USER PROFILE</a>
				</li>
				<li>
					<a>ABOUT US</a>
				</li>
				<li>
					<a>JOBS</a>
				</li>
				<li>
					<a>CLIENTS</a>
				</li>
				<li>
					<a>EMPLOYERS</a>
				</li>
				<li>
					<a>CONTACT US</a>
				</li>
			</ul>
		</nav>
	</div>
</header>