<div class="footer">
    <div class="top-section">
        <p>Subscribe to our Job Seeker Mailing List.</p>
        <a class="email-achr"> Enter Your Email Address <i class="fa fa-envelope" aria-hidden="true"></i></a>
    </div>
    <span class="break"></span>
    <div class="bottom-section">
        <div class="terms">
            <div>
                <i class="fa fa-envelope"aria-hidden="true"></i> <input type="text">
            </div>
            <div class="copyright">
                <div>
                    <p>Copyright@2014 Two Bytes Consulting <strong>Terms & Policies</strong></p>
                </div>
                <div class="bottom-sociallink">
                    
                    <button class="tweet-btn"><i class="fa fa-twitter" style="color:#4dc7ff" aria-hidden="true"></i> Tweet</button>
            <label>692</label>
            <button class="tweet-btn"><i class="fa fa-facebook" style="color:#4dc7ff" aria-hidden="true"></i> Like</button>
            <label>117</label>
                </div>
            </div>
        </div>
    </div>
</div>