
<div class="wrapper">
    <div class="content-wrapper">
        <div class="card">
            <div class="row">
                <div class="col-md-4" >
                    <div class="row profile">
                        <h3>Profile</h3>
                        <img src="../../assets/images/user-default-img.jfif" style="height: 180px;width:180px;margin: 35px 10px 10px 0px;">
                        <div>
                            <button type="button" class="button-editprofile btn btn-outline-dark">Edit Photo</button>
                            <button type="button" class="button-editprofile btn btn-outline-dark" (click)="profileEdit()">Edit Profile</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" style="padding: 70px;">
                    <div class="row">
                        <p>I'm Caroline Kassidy and I am 20 years old and you can send your emails to <a href="#">caroline.kassidy@publicis.com</a> I live in the state of Alaska. I like to play hockey,football and reading books. And please send me newsletters. Please reach out to me on my phone number</p>
                    </div>
                    <button type="button" class="btn btn-success">I Agree</button>
                </div>
            </div>
        </div>
    </div>
</div>