.card {
    padding: 15px;
    border: none;
}
.modal-header{
    background: #4dc7ff;
}
.modal-title{
    color: white;
    font-weight: unset;
}

.example-chip-list {
    width: 100%;
  }

  mat-slider {
    width: 300px;
    
  }
  .upload-photo{
    margin: 11px 17px;
    color:#4dc7ff !important;
    text-align: center;
  }
  